{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 well text-center">
      <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
        <dl>
          <dt>Please Enter Incident Details Below:
          <dd>The Change / Incident#<input type=INTEGER size=15 name=incident>
          <dd>Who is the Requestor?<input type=text size=15 name=userName>
          <dd>Affected Server Name?<input type=text size=15 name=realServer>
          <dd><input type=submit value="Process Request">
        </dl>
      </form>
    </div>
    <div class="col-md-4">
      <p class="text-center"><strong>Welcome to NetOps Automation!</strong>
       fill out the audit form to the left and hit <strong>"Process Request"</strong>
        to be taken to the Out of Service/Back in Service page.  As the page loads,
        you will notice that it performs several checks against the target f5 to
        ensure it is safe to proceed.  If it is not, the system will gray out
        the button, disallowing you from proceeding.  To view the Audit log, click
        the yellow <strong>Audit Log</strong> button on the command pallette.
     </p>
    </div>
    <div class="col-md-4 well">
      <img src="{{ url_for('static', filename='img/hal.gif')}}" class="img-rounded" alt="HAL-9000" style="width:100%">
      <h4 class="text-center"><strong>How may I assist you Human?</strong></h4>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
